
/* --------Normalizacion de propiedades-------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* --------Tipografia-------- */

body {
    font-family: "Roboto", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    font-size: 2rem;
    color: rgb(73, 73, 73);
}

h1,h2,h3,nav {
    font-family: "Oswald", sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
}


/* --------Reciclado Header-Footer-------- */


header, .titulo-logo, header nav ul, footer, .logo-nav-footer, .titulo-logo-footer, footer nav ul {
    display: flex;
    align-items: center;
} 

header, .logo-nav-footer {
    flex-direction: column;
}

header, footer {
    background-color: black;
    justify-content: space-between;
    color: white;
}

.titulo-logo, .titulo-logo-footer {
    justify-content: center;
}

a {
    text-decoration: none;
    color: white;
}

.lista-header a:hover, .lista-footer a:hover {
background-color: white;
color: black;
}



.logo-nav-footer, footer nav ul {
    justify-content: space-around;
}

/* --------Header-------- */

header {
    height: 150px;
    margin-bottom: 30px;
  
}

.titulo-logo {
      padding-top: 30px;
}

.titulo-logo h1{
padding-left: 15px;
}


header nav {
    width: 40%;
    align-self: flex-end;
    padding-bottom: 3px;  
   
}

header nav ul {
    justify-content: flex-end; 
  }

.lista-header {
    font-size: 2.2rem;
    padding-right: 10px;
    padding-left: 10px;
    list-style: none;
}

h1 {
    font-size: 5rem;
}


/* --------Footer-------- */

footer {
    height: 220px;
    padding: 5px 15px;
}

.logo-nav-footer {
    height: 160px;
}

.footer-h2 {
    font-size: 2rem;
}

.copyright {
    font-size: 1.1rem;
}

footer nav ul {
    flex-wrap: wrap;
}

.lista-footer {
    font-size: 2.2rem;
    padding: 5px 10px;
    list-style: none;
}

.logo-mini-pay {
   margin-right: 15px;
}

.logo-mini-redes {
    margin-left: 15px;
 }

 .logo-pago i, .logo-redes i {
     font-size: 5rem;
     padding: 15px;
 }

 /* --------Main-------- */

main {
    width: 70%;
    margin: auto;
}

.contenido-principal h2, .conocenos h2, .productos h2, .contactanos h2, .blog h2 {
    font-size: 4rem;
    margin: 60px 20px 60px 20px ;
    text-align: center;
}

.main-image{
    margin: auto;
    width: 32%;
    height: auto;
    
}

.img-p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 

}

p{
 text-align: justify;
}

.p-side {
    width: 50%;
    height: auto;
    margin: auto;
}

.p-bottom, .p-conocenos {
    width: 93%;
    height: auto;
    margin-left: 4.3%;
    padding-right: 2%;
    margin-top: 2.5%;
}





/* --------promo cards-------- */

.promo-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 20px 100px 20px;
}



.card {
    width: 300px;
    height: 400px;
    border: 1px solid rgba(112, 111, 111, 0.521);
    border-radius: 7px;
    box-shadow: 12px 12px 2px 1px #dadada;
    overflow: hidden;
    margin: 30px;
    }

    .card-header {
        background-color: rgba(0, 0, 0,0.9);
        width: 100%;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    }

    .card-body {
      margin-top: 30px;
      padding: 10px;
    }

    .card-footer {
        font-size: 1.8rem;
        font-weight: 700;
        border: 1px solid rgb(102, 102, 102);
        border-radius: 40px;
        margin: 60px 15px 15px 15px;
        padding: 10px;
        text-align: center;
        
    }

    .card-footer a {
        text-decoration: none;
        color: rgb(73, 73, 73);
    }

    .card-footer:hover {
        background-color: black;
    }
    .card-footer:hover a {
       color: white;
    }

    .logo-small {
        padding-right: 10px;
    }

    /* --------conocenos-------- */

    .conocenos {
        margin-bottom: 10rem;
    } 

    .img-conocenos {
        width: 60%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5rem;
    }


    /* --------Productos-------- */

    .productos {
        margin-bottom: 100px;
    }

    .contenedor-iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding-top: 56.25%; 
      }
      
      .r-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }

      /* --------Contactanos-------- */

      form {
        width: 60vw;
          max-width: 500px;
          min-width: 300px;
          margin: 0 auto;
        padding-bottom: 10rem;

        }

        .contactanos P {
            text-align: center;
            margin-bottom: 3rem;
            font-size: 2.3rem;
        }

      fieldset {
        border: none;
        padding: 2rem 0;
        margin-bottom: 1.5rem;
      }

      label {
        display: block;
        margin: 1rem 0;
      }

      input, textarea, select {
        margin: 10px 0 0 0;
	    width: 100%;
        min-height: 3rem;
    }

    select {
        margin-bottom: 2.2rem;
    }

    .inline {
        width: unset;
        margin: 0 0.5em 0 0;
        vertical-align: middle;
      }

      .redondo {
            border-top: 3px solid rgb(175, 176, 177);
            border-radius: 5px;
            margin-bottom: 5rem;
      }

      .input-btn {
        display: block;
        width: 80%;
        margin: 1.5rem auto;
        height: 4rem;
        font-size: 2rem;
        border-radius: 30px;
        min-width: 300px;
      }

      .input-btn:hover {
          background-color: black;
          color: white;
      }

        /* --------Blog-------- */

      .blog {
          margin-bottom: 10rem;
      }

      .blog p {
        margin: 2.5rem auto;  
      }


